
@model IEnumerable<Student_Book.Subject>
@using Student_Book.Controllers
@{
    Layout = null;
    ViewBag.Title = "Index";
}

@using Microsoft.AspNet.Identity



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/favicone.ico">

    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome ~/assets/css-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!--bootstrap ~/assets/css-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!--animate ~/assets/css-->
    <link rel="stylesheet" href="~/assets/css/animate-wow.css">
    <!--main ~/assets/css-->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!--responsive ~/assets/css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>
    <header id="header" class="top-head">
    </header>
    <!-- Modal -->
    <div class="modal fade lug" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><a href="#"><img src="~/assets/images/flag-up-1.png" alt="" /> United States</a></li>
                        <li><a href="#"><img src="~/assets/images/flag-up-2.png" alt="" /> France </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                    <li>@Html.ActionLink("Saved Subjects", "Index", "favs")</li>

                    @if (User.IsInRole(RoleName.Admin))
                    {
                        <li>@Html.ActionLink("Links", "Index", "Links")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <div class="row clearfix">
                    <div class="find-box">
                        <h1 style="color:black">Zaker</h1>
                        <h4 style="color: black; font-family: Cursive; opacity : 0.8 ">We've brought this website for the students of the Faculty Of Science Suez Canal University Mathematics Department. Zaker has been made to be a reference to all the subjects of the department.</h4>
                      

                      
                        <div style="text-align:center">


                            @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manger))
                            {
                                @Html.ActionLink("Create New", "Create", "Subjects", new { area = "" }, new { @class = "btn btn-primary btn-sm btn-lg" })

                                @*@Html.ActionLink("search", "Search", "Subjects", new { S =}, new { @class = "btn btn-primary btn-sm btn-lg" })*@
                                <hr />

                            }
                        </div>
                        @*<div style="text-align:center">

            <input class="form-control" type="text" id="myText" value="" />
            <button class="btn btn-primary mb-2" type="button" id="myButton">sumbit</button>
        </div>*@
                        <div style="text-align: center; margin: auto; width: 35%; padding: 10px;">
                            <input class="form-control" type="text" id="myText" placeholder="Search by Subject Code" aria-label="Search by Subject Code" style="text-align:center">
                            <br />
                            <button style=" background-color: #3d444a;color:white" class="btn btn-light" type="button" id="myButton">Go To &#x2192;</button>
                        </div>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                        <script>
                            document.getElementById("myButton").onclick = function () {

                                var inputValue = document.getElementById("myText").value;
                                window.location.href = '/Subjects/Search?S=' + inputValue;

                            }
                            $("#myText").keypress(function (event) {
                                if (event.keyCode == 13) {
                                    $("#myButton").click();
                                }
                            });
                            $("#myButton").click(function () { });
                        </script>




                    </div>
                </div>

                <div class="row clearfix">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <a href="~/Subjects/Details/@item.Id_Subject">
                                <div class="box-img">
                                    <h4>@Html.DisplayFor(modelItem => item.Subject_Name)</h4>
                                    <h5>@Html.DisplayFor(modelItem => item.Subject_Descrption)</h5>
                                </div>
                            </a>
                            <div style="text-align:center">
                                @{
                                    string username = User.Identity.GetUserName().ToString();
                                    int subjectid = item.Id_Subject;
                                   

                                }

                                
                                <a href="favs/Favorite?username=@username&SubjectID=@subjectid" class="btn btn-primary btn-sm btn-lg">&nbsp;Save&nbsp;</a>

                                @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manger))
                                {
                                    <hr />


                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_Subject }, new { @class = "btn btn-primary btn-sm btn-lg" })

                                    @Html.ActionLink("Links", "Details", new { id = item.Id_Subject }, new { @class = "btn btn-primary btn-sm btn-lg" })

                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Subject }, new { @class = "btn btn-primary btn-sm btn-lg" })

                                }
                                <hr />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    <!--main js-->
    <script src="~/assetsjs/jquery-1.12.4.min.js"></script>
    <!--bootstrap js-->
    <script src="~/assetsjs/bootstrap.min.js"></script>
    <script src="~/assetsjs/bootstrap-select.min.js"></script>
    <script src="~/assetsjs/slick.min.js"></script>
    <script src="~~/assetsjs/wow.min.js"></script>
    <!--custom js-->
    <script src="~/assetsjs/custom.js"></script>
</body>

</html>









































@*<!DOCTYPE html>

    <html>
    <head>
        <meta charset='UTF-8'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/~/assets/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <script src='https://unpkg.com/react@16.3.1/umd/react.production.min.js'></script>
        <script src='https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js'></script>
        <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
        <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>
        <style>
            body {
                background-color: white;
                font-family: 'Ubuntu', sans-serif;
                padding: 0px;
                margin: 0px;
            }

            .main {
                width: 100%;
            }

            .top-div {
                background-color: rgb(0, 0, 0);
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;
            }

            h3 {
                color: white;
                padding-left: 20px;
                padding-right: 60%;
            }

            h1 {
                color: #545148;
                position: center;
            }

            .log-out {
                height: 35px;
                width: 120px;
                position: absolute;
                right: 20px;
                font-weight: bold;
                font-size: 17px;
                border-radius: 5px;
            }

            .search-div {
                height: 150px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                width: 300px;
                height: 40px;
                border-radius: 5px;
                border-width: 1px;
                background-color: rgb(238, 238, 238);
                padding-left: 10px;
                padding-right: 10px;
                font-size: 16px;
            }

            .about-us {
                padding-left: 15px;
                padding-right: 15px;
                font-size: large;
                line-height: 28px;
            }

            .items-main-div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            .item-div {
                background-color: rgb(31, 31, 31);
                width: 450px;
                height: 170px;
                margin: auto;
                margin-bottom: 50px;
                border-radius: 10px;
            }

            @@media only screen and (max-width: 600px) {
                .item-div {
                    background-color: rgb(31, 31, 31);
                    width: 90%;
                    height: 170px;
                    margin: auto;
                    margin-bottom: 50px;
                    border-radius: 10px;
                }
            }
        </style>
    </head>
    <body>

        <div id='root'></div>

        <script type='text/babel'>
              const Link = ReactRouterDOM.Link;
              const Route = ReactRouterDOM.Route;

              const App = () => (
                <ReactRouterDOM.HashRouter>
                  <Route path="/" exact component={Home} />
                </ReactRouterDOM.HashRouter>
              )
             const About ="Zaker.com";
              const about = "We've brought this website for the students of the Faculty Of Science Suez Canal University Mathematics Department. Zaker has been made to be a reference to all the subjects of the department";

              const Home = () => {
                return(
                    <div className="main">
                        <div className="about-us">
                        <br/>
                        <br/>
                        <h2> {About} </h2>
                            <p>

                                {about}
                            </p>
                        </div>
                        <div className="search-div">
                            <input type="search" />
                              <h1>Subjects</h1>
                     <hr />
                     @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manger))
                      {
                        @Html.ActionLink("Create New", "Create", "Subjects", new { area = "" }, new { @class = "btn btn-primary btn-sm btn-lg" })
                      }
                                </div>

                        <div className="items-main-div">
                         @{int r = 0; }
                         @foreach (var item in Model)
                         {
                             r++;
                                        <button className="item-div">
                                            <h3>@r.ToString() - @Html.DisplayFor(modelItem => item.Subject_Name)</h3>
                                            <h3>@Html.DisplayFor(modelItem => item.Subject_Descrption)</h3>
                               @if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.Manger))
                                {

                                           <button>
                                             @Html.ActionLink("Edit", "Edit", new { id = item.Id_Subject })
                                            </button>
                                            <button>
                                             @Html.ActionLink("Links", "Details", new { id = item.Id_Subject })
                                            </button>
                                            <button>
                                             @Html.ActionLink("Delete", "Delete", new { id = item.Id_Subject })
                                            </button>
                                }
                                else
                                {
                                   <button>
                                    @Html.ActionLink("Links", "Details", new { id = item.Id_Subject })
                                     </button>

                                }

                                        </button>
                         }


                            </div>

                    </div>
                )
            }


              ReactDOM.render(<App />, document.querySelector('#root'));
        </script>
    </body>
    </html>*@