@model Student_Book.Link

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Link</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                    @Html.LabelFor(model => model.Id_Link, "Id_Link", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Id_Link, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Id_Link, "", new { @class = "text-danger" })
                    </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Subject, "Id Subject", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                
                <select class="form-control" id="Id_Subject" name="Id_Subject">
                    <option value="@TempData["Subjectid"]">@TempData["Subjectname"]</option>
                </select>
                @*@Html.DropDownList("Id_Subject", new List<SelectListItem> { new SelectListItem { Text = "Discrete Mathematics", Value = "13" } }, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Id_Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pdf_Name, "Pdf Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pdf_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pdf_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link1, "Link", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Subjects")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
